<div class="header">
    <div class="abstract">
        <ul class="introduction">
            <li><a href="/"><span class="orgLogo"><h2 class="orgName">noter</h2></span></a></li>
            <li><a href="/"><span>why noter</span></a></li>
            <li><a href="/"><span>features</span></a></li>
            <li><a href="/"><span>plans</span></a></li>
        </ul>
        <ul class="userOptions">
            <li><a href="/"><span>help</span></a></li>
            <li><a href="/"><span>login</span></a></li>
            <li><a href="/"><span>signup</span></a></li>
        </ul>
    </div>
</div>