@import '../../styles.scss';

.header {
    background-color: $WHITE-COLOR;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .orgName {
        font-family: "Soleil";
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        color: black;
        padding-right: 60px;
    }
    
    .abstract {
        display: inherit;
        flex-direction: inherit;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: inherit;
        width: 45%;
        height: inherit;

        .hamburger-menu{
            display: none;
        }

        .introduction {
            display: inherit;
            flex-direction: inherit;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: inherit;
            height: inherit;
            width: 35%;
            font-size: 13px;

            li {
                display: inherit;
                flex-direction: inherit;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: inherit;
                border: 4px solid rgba(255, 0, 0, 0);
                
                a {
                    text-transform: uppercase;
                    font-weight: 600;
                    color: black;
                }

                .arrow{
                    width: 0px;
                    height: 0px;
                    border: 4px solid rgba(255, 0, 0, 0);
                    border-top: 4px solid black;
                    background-color: rgba(255, 0, 0, 0);
                }
            }

            li:hover{
                border-bottom: 4px solid $GREEN-COLOR;
                a {
                    color: $GREEN-COLOR;
                }
                .arrow{
                    border-top: 4px solid $GREEN-COLOR;
                    transform: rotate(-180deg);
                }
            }
        }

        .userOptions {
            display: inherit;
            flex-direction: inherit;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: inherit;
            height: inherit;
            width: 25%;
            font-size: 15px;

            li {
                display: inherit;
                flex-direction: inherit;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: inherit;
                border: 4px solid rgba(255, 0, 0, 0);
                
                a {
                    text-transform: capitalize;
                    color:black
                }

                .btn{
                    padding: 9px 18px;
                    color: $GREEN-COLOR;
                    border: 2px solid $GREEN-COLOR;
                    border-radius: 4px;
                    font-weight: 600;
                }

                .btn:hover{
                    color: $LIGHT-GREEN-COLOR;
                    border: 2px solid $LIGHT-GREEN-COLOR;
                }
            }

            li:hover{

                a{
                    color: $GREEN-COLOR;
                }
            }
        }
    }    
    
}

@media screen and (max-width:900){
    .header{
        justify-content: space-between;

        .abstract{
            display: inherit;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
    }
}
