<div class="header">
    <h2 class="orgName">noter</h2>
    <div class="abstract">
        <div class="hamburger-menu"></div>
        <ul class="introduction">
            <li><a href="/">why noter</a></li>
            <li><a href="/">features</a><span class="arrow"></span></li>
            <li><a href="/">plans</a><span class="arrow"></span></li>
        </ul>
        <ul class="userOptions">
            <li><a href="/">help</a></li>
            <li><a href="/">log in</a></li>
            <li><a href="/" class="btn">sign up</a></li>
        </ul>
    </div>
</div>